target/
.idea/
*.iml
docker/*.gradle
**/.DS_Store
.gradle
gradle/
build/
out/
log/
output/
*.ipr
*iws
.tmp/
node_modules
benchmark-*.json
package-lock.json
solr-home/
solr-cluster-temp-dir/
zk-home/
.venv/
venv/
.vscode/
dist/
.scannerwork/
coverage/
*.pyc
.pytest_cache
opt/
*.code-workspace
*.log
*.error
*.success
wildcard_matches.txt

## Ignore artifacts generated for local testing
search/engine/kubernetes/solr-cloud/plugin/
